.hero .hero-title {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.hero .link.buttom {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* .section-title {
    
} */

/* .section-subtitle {

} */

.section-text {
    color: var(--text-color);
}

.working {
    color: var(--primary-white-color);
    background-color: var(--bacground-three-color);
}

.comand-text, .section-text {
    color: var(--text-color);
}